/.idea/
/vendor/
/var/
/public/bundles/
/public/uploads/
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*.local.php
/config/jwt/*
!/config/jwt/checkpoint
/phpunit.xml
/.phpunit.result.cache
/drivers/
/.phpunit.cache/

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
